.configIconColor {
    color: #F8D4D4;
    cursor: pointer;
}

.box {
    cursor: move;
}

.taskArea {
    background-color: #FCFCEE;
}

.taskBox {
    min-width: 170px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    padding-bottom: 60px;
}

.portlet {
    margin: 0 1em 1em 0;
    height: 100px;
    width: 150px;
    border-radius: 10px;
    float: left;
    border: 0px;
}

.portlet-header {
    font-size: small;
    text-align: left;
    width: 150px;
    height: 20px;
    padding: 0.0px 4.1px;
    margin-bottom: 0.5em;
    border-radius: 10px 10px 0px 0px;
    border: 0px;
    background-color: #0300DC;
    /* for transparency*/
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 8 */
    
    filter: alpha(opacity=50);
    /* IE 5-7 */
    
    -moz-opacity: 0.5;
    /* Netscape */
    
    -khtml-opacity: 0.5;
    /* Safari 1.x */
    
    opacity: 0.5;
    /* Good browsers */
}

.portlet-owner {
    font-size: small;
    text-align: center;
    padding-left: 35px;
}

.portlet-foot {
    font-size: small;
    text-align: right;
    margin-right: 5px;
    margin-top: 14px;
    float: right;
}

.portlet-toggle {
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.portlet-content {
    text-align: center;
    padding: 0px;
    height: 38px;
}

.portlet-placeholder {
    border: 2px dotted yellow;
    margin: 0 1em 1em 0;
    height: 100px;
    width: 150px;
}

.storyArea {
    background-color: #FFFFFF;
    min-width: 150px;
    min-height: 150px;
    text-align: center;
}

.storyBox {
    height: 150px;
    min-width: 150px;
    float: left;
    margin: 10px 10px 10px 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 3px #000;
    text-align: center;
}

.storyBox header {
    color: #fff;
    text-shadow: #000 0 1px;
    box-shadow: 5px;
    margin-bottom: 15px;
    padding: 5px;
    border-bottom: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.storyBox-name {
    font-size: large;
    text-align: center;
    margin-bottom: 1px;
}

.storyBox-duration {
    font-size: small;
    text-align: center;
}

.storyBox-foot {
    font-size: small;
    text-align: right;
    margin-right: 10px;
}
